/*------------------------------------
<<<<<<<<<< Global Variables >>>>>>>>>>
------------------------------------*/
	
	/*------------------------------------
	<<<<<<<<<<<<<<< Colors >>>>>>>>>>>>>>>
	------------------------------------*/

		$base-color: #fbb03b;

	/*------------------------------------
	<<<<<<<<<<<<<<<< Fonts >>>>>>>>>>>>>>>
	------------------------------------*/

		$global-text: 4vmin;

		$standar-text-color: #2b2b2b;

	/*------------------------------------
	<<<<<<<<<<<<< Nav Bar >>>>>>>>>>>>>
	------------------------------------*/

		$nav-area: 60px;

		$effect-delay: .2s;