/* ----------------------------
<<<<<<<<<<<< Base >>>>>>>>>>>>>
---------------------------- */
    html{
        overflow: hidden;
    }
    
    .body {
        display: grid;
        overflow: hidden;
        grid-template-columns: 60px 1fr; 
        grid-template-rows: 60px 1fr 30px; 
        gap: 0px 0px; 
        grid-template-areas: 
            "aside header"
            "aside main"
            "aside footer";

        transition: grid-template-columns .2s;
    }

    @media (max-width: 650px) or (orientation: portrait) {
        .body{
            font-size: 4vmin !important;
        }
    }

    /* ----------------------------
    <<<<<<<<<<<< Aside >>>>>>>>>>>>
    ---------------------------- */

        .aside{
            grid-area: aside;

            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            background-color: #fbb03b;
            background-image: linear-gradient(180deg, #fbb03b 10%, #291717 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #fbb03b), to(#291717));
        }

        .aside::after{
            width: 20px;
            height: 70px;
            right: -20px;
            position: absolute;
            background-color: #d99936;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            display: none;

            content: "\f054";
            font-family: 'faSolid';
            font-size: 15px;
            font-weight: 900;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 1;
            color: #2b2b2b;
            box-shadow: inset 1px -1px 9px 0px #ffffff5c;
        }

        /* ----------------------------
        <<<<<<<<<<<< navBar >>>>>>>>>>>
        ---------------------------- */

            .aside .nav{
                height: 100%;
                text-align: center;
                position: absolute;
                width: 60px;
                left: 0;

                display: grid;
                grid-template-columns: 1fr; 
                grid-template-rows: 60px 1fr; 
                gap: 0px 0px; 
                grid-template-areas: 
                    "logo"
                    "menu";

                transition: left .2s;
            }

            .aside .nav .logo{
                grid-area: logo;

                margin-block-start: unset;
                margin-block-end: unset;
                margin-inline-start: unset;
                margin-inline-end: unset;
                unicode-bidi: unset;
                width: 100%;
                padding: 1%;
            }

            .aside .nav .logo img{
                width: 100%;
            }

            .aside .nav .menu{
                grid-area: menu;

                list-style: none;
                margin-block-start: unset;
                margin-block-end: unset;
                margin-inline-start: unset;
                margin-inline-end: unset;
                padding-inline-start: unset;
                unicode-bidi: unset;
                color: #fff;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .aside .nav a, .aside .nav a:hover,.aside .nav a:has(.visited),
            .aside .nav span, .aside .nav span:hover,.aside .nav span:has(.visited){
                text-decoration: none;
                color: inherit;
                text-align: center;
            }

            .aside .nav .menu li{
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .aside .nav .menu li a{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .aside .nav .menu li i{
                font-size: 1.6rem;
                transition: all .1s;
            }

            .aside .nav .menu li:hover i:not(.visited){
                text-shadow:  5px 5px 5px #0003;
                transform: scale(1.1);
                transition: all .1s;
            }

            .aside .nav .menu li i.visited{
                text-shadow:  5px 5px 5px #0003;
                transform: scale(1.1);
                transition: all .1s;
            }

        /* ----------------------------
        <<<<< Toggling bar rules >>>>>>
        ---------------------------- */
            @media (max-width: 650px) or (orientation: portrait) {
                .body{
                    grid-template-columns: 0 100vw;

                    transition: grid-template-columns .2s;
                }

                .aside .nav{
                    left: -60px;

                    transition: left .2s;
                }

                .aside::after{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .toggled .aside::after{
                    content: "\f053";
                }

                .body.toggled {
                    grid-template-columns: 60px 100vw;

                    transition: grid-template-columns .2s;
                }

                .toggled .aside .nav{
                    left: 0;

                    transition: left .5s;
                }
            }

    /* ----------------------------
    <<<<<<<<<<<< Header >>>>>>>>>>>
    ---------------------------- */

        .header{
            grid-area: header;

            width: 100%;
            background: #fff;
            padding: 0 0 0 1%;
            z-index: 3;

            display: grid;
            grid-template-columns: 1fr 50px; 
            grid-template-rows: 1fr; 
            gap: 0px 0px; 
            grid-template-areas: 
                "title toPort";
            align-items: center;
            transition: box-shadow .2s;
        }

        .header .title{
            grid-area: title;
        }

        .header .toPort{
            grid-area: toPort;
        }

        @media (max-width: 650px) or (orientation: portrait) {
            .body:not(.toggled) .header{
                box-shadow: inset 4px 0 0px 0px var(--primary) !important;
                padding-left: 10px;
                transition: box-shadow .2s;
            }
        }

    /* ----------------------------
    <<<<<<<<<<<<< Main >>>>>>>>>>>>
    ---------------------------- */

        .main{
            grid-area: main;

            position: relative;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            perspective: 2px;
            text-align: center;
        }

        .main section{
            width: 100%;
            transform-style: preserve-3d;
            position: relative;
        }

        /* ----------------------------
        <<<<<<<<<<<< navBar >>>>>>>>>>>
        ---------------------------- */

            .main .menu-wrapper{
                position: sticky;
                margin: unset;
                top: 0;
                z-index: 11;
            }

            .main .navMenu{
                list-style-type: unset;
                margin-block-start: unset;
                margin-block-end: unset;
                margin-inline-start: unset;
                margin-inline-end: unset;
                padding-inline-start: unset;
            }

            .main .navMenu .m-dnamic{
                display: inline-flex;
                width: 100%;
            }

            .main .navMenu .m-dnamic a, 
            .main .navMenu .m-dnamic a .btn{
                width: 100%;
            }

            /*
            OJAZO
            .main .navMenu .m-dnamic .btn-ico{
                display: none;
            }
            */

            @media (max-width: 650px){
                .main .navMenu .m-dnamic .btn-txt{
                    display: none;
                }

                .main .navMenu .m-dnamic .btn-ico{
                    display: inline-flex;
                }
            }

        /* ----------------------------
        <<<<<<<<<<< switcher >>>>>>>>>>
        ---------------------------- */
            .main .data-switch .m{
                display: none;
            }

            @media only screen and (hover: none) and (pointer: coarse){
                .main .data-switch .m{
                    display: block;
                }

                .main .data-switch .p{
                    display: none;
                }
            }

        /* ----------------------------
        <<<<<<<<<< Base Rules >>>>>>>>>
        ---------------------------- */
            .main .data-wrapper .data-content{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1%;
            }

            .main .data-wrapper .data-content > *:not(:first-child,:last-child){
                margin: 1%;
            }

            .main .data-wrapper .data-content > :first-child{
                margin-bottom: 1%;
            }

            .main .data-wrapper .data-content > :last-child{
                margin-top: 1%;
            }

            .main .data-wrapper .data-content .data-text:not(.unformat){
                width: 100%;
                text-align: justify;
                white-space: pre-line;
                color: #2b2b2b;
            }

            .main .data-wrapper .data-content .data-img{
                width: 20%;
                text-align: center;
            }

            .main .data-wrapper img{
                width: 90%;
                transition: all .2s;
            }

            .main .data-wrapper img.imgHover:hover{
                transform: scale(1.1);
                filter: drop-shadow(5px 5px 2px #0004);
                -webkit-filter: drop-shadow(5px 5px 2px #0004);
                transition: all .2s;
            }

            .main .data-wrapper .data-content .data-img:has(.labeling){
                position: relative;
                margin: unset;
                min-width: fit-content;
            }

            .main .data-wrapper .data-content .data-img i {
                font-size: 100px;
                margin: 0 auto;
            }

        /* ----------------------------
        <<<<<<<<<<< Parallax >>>>>>>>>>
        ---------------------------- */

            .paraless{
                background-color: #ffe1b2;
                z-index: 10;
                padding: 8%;
            }

            .parallax{
                height: 86vh;
                padding: 8%;
            }

            .parallax:not(.bgllax){
                z-index: 1;
            }

            .parallax > * {
                font-size: 10vmin;
                color: #2b2b2b;
                font-family: Poppins-Bold;
            }

            .parallax::before{
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateZ(-2px) scale(2);
                background-size: 100%;
                z-index: -1;
                opacity: .3;
            }

            .bgllax::before{
                background-size: 100% auto;
                background-repeat: no-repeat;
                height: 100%;
                box-shadow: inset 0px 0px 8px 8px var(--light);
            }

            @media (max-width: 850px){
                .bgllax::before{
                    background-size: cover;
                    background-position: center;
                }
            }

            /* ----------------------------
            <<<<< Parallax Bg control >>>>>
            ---------------------------- */

                /* <<<<< bg >>>>> */
                    @for $i from 1 through 7{
                        .bg-#{$i}.bgllax::before{
                            background-image: url(../img/bg/bg#{$i}.webp);
                        }
                    }

                /* <<<<< Init >>>>> */
                    .init-1.bgllax::before{
                        background-image: url(../img/init/init1.svg);
                    }

                /* <<<<< bg >>>>> */
                    @for $i from 1 through 2{
                        .html-#{$i}.bgllax::before{
                            background-image: url(../img/html/html#{$i}.webp);
                        }

                    }
                        
        /* ----------------------------
        <<<<<<<<<<<< Trynna >>>>>>>>>>>
        ---------------------------- */

            .imgExp{
                width: 50px !important;
            }
            
            .trymeBtn,.trymeTbl,.trymeTxt,.trymeInp{
                transition: all .2s;
            }

            .trymeBtn:hover{
                padding: 1% 2%;
                background-color: #0033db;
                border-radius: 10px;
                color: #fff;
                box-shadow: 2px 2px 5px 0px #0003;
                transition: all .2s;
            }

            .trymeTbl:hover{
                border: 2px dotted darkred;
                transition: all .2s;
            }

            .trymeTxt:hover{
                color: #db7800;
                font-weight: bold;
                font-style: italic;
                transition: all .2s;
            }

            .trymeInp:hover{
                height: 40px;
                border-radius: 10px;
                transition: all .2s;
            }

            .reverse{
                flex-direction: row-reverse !important;
            }

    /* ----------------------------
    <<<<<<<<<<<< Footer >>>>>>>>>>>
    ---------------------------- */

        .footer{
            grid-area: footer;

            width: 100%;
            background-color: #fff;
            box-shadow: 0px -5px 20px 0px #0003;
            z-index: 2;
        }

        .footer .foot-data{
            font-size: 2vmin;
            text-align: center;
        }

/* ----------------------------
<<<<<<<<<<<< Global >>>>>>>>>>>
---------------------------- */
    
    /*----------------------------
    <<<<<<<<<< Absolute >>>>>>>>>>
    ----------------------------*/

        .cc-row{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-pack:center !important;
            -ms-flex-pack:center !important;
            justify-content:center !important;
            
            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .cc-col{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-orient:vertical !important;
            -webkit-box-direction:normal !important;
            -ms-flex-direction:column !important;
            flex-direction:column !important;

            -webkit-box-pack:center !important;
            -ms-flex-pack:center !important;
            justify-content:center !important;

            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .sc-row{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex!important;

            -webkit-box-pack:center !important;
            -ms-flex-pack:center !important;
            justify-content:center !important;
            
            -webkit-box-align:start !important;
            -ms-flex-align:start !important;
            align-items:flex-start !important;
        }

        .sc-col{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-orient:vertical !important;
            -webkit-box-direction:normal !important;
            -ms-flex-direction:column !important;
            flex-direction:column !important;

            -webkit-box-pack:center !important;
            -ms-flex-pack:center !important;
            justify-content:center !important;

            -webkit-box-align:start !important;
            -ms-flex-align:start !important;
            align-items:flex-start !important;
        }

        .ce-row{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex!important;

            justify-content:space-evenly !important;
            
            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .ce-col{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-orient:vertical !important;
            -webkit-box-direction:normal !important;
            -ms-flex-direction:column !important;
            flex-direction:column !important;

            justify-content:space-evenly !important;

            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .se-row{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex!important;

            justify-content:space-evenly !important;
            
            -webkit-box-align:start !important;
            -ms-flex-align:start !important;
            align-items:flex-start !important;
        }

        .se-col{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-orient:vertical !important;
            -webkit-box-direction:normal !important;
            -ms-flex-direction:column !important;
            flex-direction:column !important;

            justify-content:space-evenly !important;

            -webkit-box-align:start !important;
            -ms-flex-align:start !important;
            align-items:flex-start !important;
        }

        .cs-row{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-pack:start !important;
            -ms-flex-pack:start !important;
            justify-content:flex-start !important;
            
            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .cs-col{
            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-orient:vertical !important;
            -webkit-box-direction:normal !important;
            -ms-flex-direction:column !important;
            flex-direction:column !important;

            -webkit-box-pack:start !important;
            -ms-flex-pack:start !important;
            justify-content:flex-start !important;

            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .c-dinamic{
            width: 100%;
            height: 100%;

            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            -webkit-box-pack:center !important;
            -ms-flex-pack:center !important;
            justify-content:center !important;
            
            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        .e-dinamic{
            width: 100%;
            height: 100%;

            display:-webkit-box !important;
            display:-ms-flexbox !important;
            display:flex !important;

            justify-content:space-evenly !important;
            
            -webkit-box-align:center !important;
            -ms-flex-align:center !important;
            align-items:center !important;
        }

        @media (orientation: portrait) or (max-width: 670px){
            .c-dinamic, .e-dinamic{
                -webkit-box-orient:vertical !important;
                -webkit-box-direction:normal !important;
                -ms-flex-direction:column !important;
                flex-direction:column !important;
            }

            .c-dinamic > *, .e-dinamic > *{
                margin: 2% 0;
            }
        }

    @-webkit-keyframes fadeIn{
        0%{
            opacity:0
        }
        100%{
            opacity:1
        }
    }

    @keyframes fadeIn{
        0%{
            opacity:0
        }
        100%{
            opacity:1
        }
    }

    .fadeIn{
        animation: .5s fadeIn linear 1;
    }

    .btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: relative;
        font-weight: bold;
        color: #2b2b2b;
        text-align: center;
        vertical-align: middle;
        border: 1px solid #a7a7a7;
        -webkit-user-select: none;
        background-color: #fbb03b;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 5px;
        padding: 3px;
        font-size: calc(10px + 0.390625vw);
        line-height: 1.5;
    }

    .btn.btn-dark {
        color: #fff;
    }

    .href{
        cursor: pointer;
    }

    .z-prior{
        z-index: 1;
    }

    .lockdown{
        overflow: hidden !important;
    }

    pre{
        user-select: text !important;
    }

    code {
        user-select: text !important;
    }

    code * {
        user-select: text !important;
    }

    @media (max-width: 650px){
        pre code {
            font-size: 3.5vmin !important;
        }
    }
